<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <nav>
        <a href="/rezgti/">Главная</a>
        <a href="/zamers/">Замеры</a>
    </nav>
</div>
<form method="post"  action="/oper">
    <label>Время
        <input type="time" name="time" required>
    </label>
    <label>Забой
        <input name="depth" required pattern="[0-9]+$"  placeholder="100.1">
    </label>
    <label>Операция
        <select smultiple name="operation" required>
            <option selectedvalue="Бурение">Бурение</option>
            <option value="СПО">СПО</option>
            <option value="Замер">Замер</option>
            <option value="Проработка">Проработка</option>
            <option value="Промывка">Промывка</option>
            <option value="Наращивание">Наращивание</option>
            <option value="КНБК">КНБК</option>
            <option value="Ремонт">Ремонт</option>
            <option value="ГИС">ГИС</option>
            <option value="НПВ">НПВ</option>
            <option value="Прочее">Прочее</option>
        </select>
    </label>
    <label>Примечания
        <input name="notes" required>
    </label>
    <input type="submit" value="Добавить">
</form>
<table width="50%">
    <tr align="center" bgcolor="#d3d3d3">
        <caption>
            <h2>ГТИ</h2>
        </caption>
        <th>Дата</th>
        <th>Время окончания</th>
        <th>Затраченное время</th>
        <th>Забой</th>
        <th>Операция</th>
        <th>Примечания</th>
        <th>Действие</th>
    </tr>
    <#list oper as oper>
        <tr>
            <td align="center">${oper.dateOper}</td>
            <td align="center">${oper.time}</td>
            <td align="center">${oper.timeOper}</td>
            <td align="center">${oper.depth}</td>
            <td align="center">${oper.operation}</td>
            <td align="center">${oper.notes}</td>
            <td>
                <form method="post" action="/oper/${oper.id}/">
                    <input type="submit" value="Изменить">
                </form>
            </td>
        </tr>
    </#list>
</table>
</body>
</html>
