<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${oper.operation}</title>
</head>
<body>
<form method="post" action="/oper/${oper.id}/update">
    <label>Дата
        <input type="date" name="dateOper" required value="${oper.dateOper}">
    </label>
    <label>Время
        <input type="time" name="time" required value="${oper.time}">
    </label>
    <label>Забой
        <input name="depth" required placeholder="${oper.depth}">
    </label>
    <label>Операция
        <select smultiple name="operation" required>
            <option value="Бурение">Бурение</option>
            <option value="СПО">СПО</option>
            <option value="Замер">Замер</option>
            <option value="Проработка">Проработка</option>
            <option value="Промывка">Промывка</option>
            <option value="Наращивание">Наращивание</option>
            <option value="КНБК">КНБК</option>
            <option value="Ремонт">Ремонт</option>
            <option value="ГИС">ГИС</option>
            <option value="НПВ">НПВ</option>
            <option value="Прочее">Прочее</option>
        </select>
    </label>
    <label>Примечания
        <input name="notes" required value="${oper.notes}">
    </label>
    <form method="post" action="/oper/${oper.id}/">
        <input type="submit" value="Изменить">
    </form>
    <form method="post" action="/oper/${oper.id}/delete">
        <input type="submit" value="Удалить">
    </form>
</form>
</body>
</html>