<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Результаты ГТИ</title>
</head>
<body>
<div>
    <nav>
        <a href="/oper">ГТИ</a>
        <a href="/zamers">Замеры</a>
    </nav>
</div>

<form method="post" action="/rezgti/">
<input type="submit" value="Сформировать суточный рапорт">
</form>

<h1> Общее время </h1>
<table bgcolor="#ffd700">
    <tr>
    <th width="105">Общее время</th>
    <th width="105">Время циркуляции</th>
    <th width="100">Бурение</th>
    <th width="100">СПО</th>
    <th width="100">Замер</th>
    <th width="105">Проработка</th>
    <th width="105">Промывка</th>
    <th width="100">Наращивание</th>
    <th width="100">КНБК</th>
    <th width="100">Ремонт</th>
    <th width="100">ГИС</th>
    <th width="100">НПВ</th>
    <th width="105">Прочее</th>
    </tr>
   </table>
<form method="post" action="/rezgti/">
    <table border="1">
        <tr>
            <td width="100" align="center">${rezgti.timeAll}</td>
            <td width="100" align="center">${rezgti.timeCycle}</td>
            <td width="100" align="center">${rezgti.timeByr}</td>
            <td width="100" align="center">${rezgti.timeSpo}</td>
            <td width="100" align="center">${rezgti.timeZamer}</td>
            <td width="100" align="center">${rezgti.timeProrabot}</td>
            <td width="100" align="center">${rezgti.timeProm}</td>
            <td width="100" align="center">${rezgti.timeNarash}</td>
            <td width="100" align="center">${rezgti.timeKnbk}</td>
            <td width="100" align="center">${rezgti.timeRemont}</td>
            <td width="100" align="center">${rezgti.timeGis}</td>
            <td width="100" align="center">${rezgti.timeNpv}</td>
            <td width="100" align="center">${rezgti.timeProchee}</td>
        </tr>
    </table>
</form>
<h1> За последние сутки </h1>

<#--<form method="post" action="/rezgti/{dateOper}/">-->

<#--    <label>Дата-->
<#--        <input type="date" name="dateOper" required value="${oper.dateOper}">-->
<#--        <input type="submit" value="Изменить">-->
<#--    </label>-->

</form>
<table bgcolor="#ffd700">
    <tr>
        <th width="105">Общее время</th>
        <th width="105">Время циркуляции</th>
        <th width="100">Бурение</th>
        <th width="100">СПО</th>
        <th width="100">Замер</th>
        <th width="105">Проработка</th>
        <th width="105">Промывка</th>
        <th width="100">Наращивание</th>
        <th width="100">КНБК</th>
        <th width="100">Ремонт</th>
        <th width="100">ГИС</th>
        <th width="100">НПВ</th>
        <th width="105">Прочее</th>
    </tr>
</table>
<form method="post" action="/dailyReport">
    <table border="1">
        <tr>
            <td width="100" align="center">${dailyReport.timeAll}</td>
            <td width="100" align="center">${dailyReport.timeCycle}</td>
            <td width="100" align="center">${dailyReport.timeByr}</td>
            <td width="100" align="center">${dailyReport.timeSpo}</td>
            <td width="100" align="center">${dailyReport.timeZamer}</td>
            <td width="100" align="center">${dailyReport.timeProrabot}</td>
            <td width="100" align="center">${dailyReport.timeProm}</td>
            <td width="100" align="center">${dailyReport.timeNarash}</td>
            <td width="100" align="center">${dailyReport.timeKnbk}</td>
            <td width="100" align="center">${dailyReport.timeRemont}</td>
            <td width="100" align="center">${dailyReport.timeGis}</td>
            <td width="100" align="center">${dailyReport.timeNpv}</td>
            <td width="100" align="center">${dailyReport.timeProchee}</td>
        </tr>
    </table>

<h1> Фактические замеры </h1>
<table bgcolor="#ffd700">
    <tr>
        <th width="105">Глубиа замера</th>
        <th width="105">Зенитный угол</th>
        <th width="100">Азимут</th>
        <th width="100">Вертикаль</th>
        <th width="100">Отход</th>
    </tr>
</table>
<form method="post" action="/lastZamer/">
    <table border="1">
        <tr>
            <td width="100" align="center">${lastZamer.depth}</td>
            <td width="100" align="center">${lastZamer.inc}</td>
            <td width="100" align="center">${lastZamer.azimut}</td>
            <td width="100" align="center">${lastZamer.tvd}</td>
            <td width="100" align="center">${lastZamer.closure}</td>
        </tr>
    </table>
</form>
<h2>Плановые значения</h2>
<table bgcolor="#ffd700">
    <tr>
        <th width="105">Глубиа замера</th>
        <th width="105">Зенитный угол</th>
        <th width="100">Азимут</th>
        <th width="100">Вертикаль</th>
        <th width="100">Отход</th>
    </tr>
</table>
<form method="post" action="/getPlanForFact">
    <table border="1">
        <tr>
            <td width="100" align="center">${getPlanForFact.depth}</td>
            <td width="100" align="center">${getPlanForFact.inc}</td>
            <td width="100" align="center">${getPlanForFact.azimut}</td>
            <td width="100" align="center">${getPlanForFact.tvd}</td>
            <td width="100" align="center">${lastZamer.closure}</td>
        </tr>
    </table>
</form>
</body>
</html>


